@charset "UTF-8";
body {
  background-color: white;
  color: #3f3c3e;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased; }

.site-header {
  background-color: black;
  height: 130px; }

.info {
  text-align: center;
  color: white;
  margin: 10px 0 0 0; }
  .info p {
    margin: 0; }
  .info a {
    color: white; }
  .info a:hover {
    color: white; }

.navbar {
  border-radius: 0;
  margin-bottom: 0; }

.navbar-logo {
  display: block;
  width: 150px;
  height: 80px;
  background: url("../images/peb-bike-logo.png") center center no-repeat;
  background-size: cover; }

.navbar-inverse .navbar-brand {
  margin-top: 0;
  color: #f6dd38;
  font-size: 1.8em;
  font-weight: 200;
  padding: 10px 0 0 0; }
  .navbar-inverse .navbar-brand:hover {
    color: #f6dd38; }

.navbar-collapse {
  text-align: center; }

.navbar-nav {
  margin-left: 0;
  margin-right: 0;
  float: none;
  display: inline-block; }

.navbar-inverse .navbar-nav li {
  float: none;
  display: inline; }
  .navbar-inverse .navbar-nav li a {
    float: none;
    display: inline-block;
    color: black;
    -webkit-font-smoothing: antialiased;
    padding: 20px 25px;
    font-size: 16px;
    font-weight: bold; }
    .navbar-inverse .navbar-nav li a:hover {
      background: rgba(0, 0, 0, 0.1); }
  .navbar-inverse .navbar-nav li.active a {
    background: rgba(0, 0, 0, 0.1); }
    .navbar-inverse .navbar-nav li.active a:hover {
      background: rgba(0, 0, 0, 0.2); }

.navbar-inverse {
  background-color: white;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #3f3c3e; }

#banner.home-page {
  margin-top: 0;
  padding: 0; }

.tag {
  text-align: center;
  font-size: 1.9em;
  font-weight: 500;
  margin: 20px 0; }

.carousel .item {
  height: 700px; }
  .carousel .item blockquote {
    display: inline-block;
    position: relative;
    border-left: none;
    margin-top: 15%;
    padding: 0;
    margin: 60px 0 0 40px;
    font-size: 3.5em;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    font-style: italic; }
    .carousel .item blockquote small {
      color: rgba(255, 255, 255, 0.75);
      font-size: 0.5em;
      font-style: normal; }
    .carousel .item blockquote:before {
      content: "“";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.9em;
      font-family: "Times New Roman", Georgia, serif;
      font-weight: bold;
      line-height: 1;
      margin-left: -50px;
      margin-top: -10px;
      color: #cccccc; }
    .carousel .item blockquote:after {
      content: "”";
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 1.9em;
      font-family: "Times New Roman", Georgia, serif;
      font-weight: bold;
      line-height: 1;
      margin-right: -34px;
      margin-bottom: 10px;
      color: #cccccc; }

.carousel-control {
  line-height: 700px;
  font-size: 7em;
  font-weight: normal; }

.carousel-control.left, .carousel-control.right {
  background-image: none; }

.carousel .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }
  .carousel .item.active.left {
    left: 0;
    opacity: 0;
    z-index: 2; }
  .carousel .item.next {
    left: 0;
    opacity: 1;
    z-index: 1; }

.page-header {
  text-align: center;
  margin: 20px 0;
  border-bottom: 0; }

.page-title {
  font-size: 3.8em;
  font-weight: 300; }

.entry-content {
  font-size: 1.3em;
  line-height: 1.2em;
  color: #666666; }

.sidebar-bike {
  float: right; }

.specs {
  display: inline-block;
  text-align: center;
  width: 140px;
  height: 140px;
  padding-top: 15px;
  margin: 0 0 15px 15px;
  border: 1px solid #666666; }
  .specs h1 {
    font-size: 4em;
    font-weight: 400; }

.btn-primary {
  background: #ef6e31;
  border: 0;
  border-radius: 0;
  color: white; }

.delivery {
  font-size: 0.96em;
  text-align: center; }

div.gallery-to-slideshow-wrapper {
  width: 100%;
  border: 0;
  overflow: hidden;
  padding: 0;
  margin: 0 auto 2.5em auto;
  position: relative;
  clear: both;
  display: block;
  border-radius: 0; }

.gallery-to-slideshow-header {
  display: none; }

.gallery-to-slideshow-title, .gallery-to-slideshow-caption {
  display: none; }

.flex-container a:active,
.gallery-to-slideshow a:active {
  outline: none; }

.gallery-to-slideshow .slides {
  margin: 0;
  padding: 0;
  list-style: none; }

.gallery-to-slideshow {
  width: 100%;
  margin: 0 auto;
  padding: 0; }

.gallery-to-slideshow .slides li {
  display: none; }

.gallery-to-slideshow .slides img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto; }

.gallery-to-slideshow .slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.gallery-to-slideshow .slides {
  display: block; }

.no-js .gallery-to-slideshow .slides li:first-child {
  display: block; }

.gallery-to-slideshow .pager {
  text-align: center;
  margin: 1em auto 0;
  width: 100%;
  list-style: none;
  overflow: hidden; }

.gallery-to-slideshow .pager li {
  display: inline-block;
  margin-bottom: 1em;
  vertical-align: top; }

.gallery-to-slideshow .pager li a {
  background: white;
  border: 0;
  border-radius: 0;
  display: inline-block;
  height: 67px;
  width: 100px;
  margin-right: 2em;
  padding: 0;
  overflow: hidden; }

.gallery-to-slideshow .pager li a img {
  height: 67px;
  width: 100px; }

.gallery-to-slideshow .pager li:active a {
  opacity: 1;
  border-color: lightgray; }

.gallery-to-slideshow .slides {
  zoom: 1;
  position: relative; }

.gallery-to-slideshow .flex-caption {
  display: none; }

.footer {
  background: black; }

.source-org {
  display: inline-block;
  color: #666666;
  margin: 10px 0 0 0; }

.footer-nav {
  display: inline-block;
  float: right;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px; }

.footer-nav ul {
  margin: 0; }

.footer-nav li a {
  padding-left: 15px;
  color: #666666;
  -webkit-font-smoothing: antialiased; }
  .footer-nav li a:hover {
    text-decoration: none;
    color: #666666; }

@media screen and (min-width: 1200px) {
  .container {
    width: 970px; } }
