//BRAND COLORS
$lightGrey: #666666
$darkGrey: #3F3C3E
$white: #FFFFFF
$yellow: #F6DD38
$black: #000000


body
	padding-top: 295px
	background-color: lighten($lightGrey, 50%)
	color: $darkGrey
	font-family: 'Roboto', sans-serif
	-webkit-font-smoothing: antialiased
 
// Header
.site-header
	background-color: $lightGrey
	height: 220px

.address
	float: right
	display: inline-block
	color: $white
	margin-top: 15px

.navbar-logo
	display: block
	width: 150px
	height: 150px
	background: url('../images/peb-bike-logo.png') center center no-repeat
	background-size: cover

.navbar-inverse .navbar-brand
	margin-top: 30px
	color: $yellow
	font-size: 2em
	font-weight: 200
	&hover
		color: $yellow
.navbar-collapse
	text-align: center

.navbar-nav
	margin-left: 0
	margin-right: 0
	float: none
	display: inline-block

.navbar-inverse .navbar-nav
	li
		float: none
		display: inline
		a
			float: none
			display: inline-block
			color: $black
			-webkit-font-smoothing: antialiased
			padding: 20px 25px
			font-size: 16px
			font-weight: bold
			&:hover
				background: rgba(0, 0, 0, .1)
		&.active
			a
				background: rgba(0, 0, 0, .1)
				&:hover
					background: rgba(0, 0, 0, .2)

.navbar-inverse
	background-color: lighten($lightGrey, 50%)









//Media Queries

@media screen and (min-width: 1200px)
	.container
		width: 970px

